@model IntraWebApp.Models.Article.ArticleDetailsViewModel

@{
    ViewData["Title"] = "Détails de l'article";
}

<h2>@ViewData["Title"]</h2>
<div class="row">
    <div class="col-md-4">
        @if (Model != null)
    {
        <h4>@Model.Title</h4>
        <hr />
        <img src="@Model.ImageUrl" style="height: 500px;width:300%;" alt="@Model.Title" /><br />
        <p>@Model.Content</p>

        @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
        {
            @Html.ActionLink("Supprimer", "Delete", "Article", new { id = Model.Id}) 

        }
    }
else
{
    <p>Aucun article ne correspond à votre recherche</p>

}
    </div>
</div>